@import '_mixins';
@import '_variables';

*{
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.container{
    margin: 0 auto;
    max-width: 1100px;
}


#ContenidoHeader{
    display: flex;
    justify-content: space-between;

    #ContenidoCarrito{
        display: none;
    }

    #Carrito{
        position: relative;

        &:hover #ContenidoCarrito{
            position: absolute;
            display: block;
            width: 400px;
            top: 100%;
            right: 0;
        }
    }
}


#Banner{
    background-image: url(/img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    color: white;

    display: flex;
    .container{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include tablet(){
            align-items: flex-start;
        }

        h1{
            margin-bottom: 10px;
        }
        
        #Buscador{
            margin: 10px    ;
            input{
                padding: 10px 30px;
            }
        }

    }
}

#Info{
    display: flex;
    background-color: red;
    color: white;

    .cajas{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        
 
        @include tablet(){
            flex-direction: row;
         
          }
      
        .caja{
            display: flex;
            flex-grow: 1;
            justify-content: center;
            align-items: center;
            

            .texto{
                display: flex;
                flex-direction: column;
            }
        }
    }

    
}

main{
    img{
        width: 100%;
    }
    display: flex;
    flex-direction: column;
    #Cursos{
        display: flex;
        flex-direction: column;
        @include tablet(){
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .Curso{
        
            @include tablet(){
                flex: 0 1 calc(100%/2 - 0.25rem*2);
            }
            @include desktop(){
                flex: 0 1 calc(100%/3 - 0.25rem*3);
            }
            .Precio{
                display: flex;
                justify-content: space-between;
                .precioInicial{
                    text-decoration: line-through;
                }
                .precioFinal{
                    font-weight: bold;
                }
            }
            .Boton{
                @include Boton($color-enlace, $color-blanco);
            }
        }
    }
}
footer{
    background-color: black;
    padding: 1rem;
    
   
    
    div{
        display: flex;
        div{
            flex-direction: column;
            flex-grow: 1;
            @include desktop(){
                flex: 0 1 calc(50%/2);
            }

            a{
                color: white;
                text-decoration: none;
            }
        }
    }


}   
#Estrellas{
    max-width: 100px;
}