@import "_mixins.scss";
@import "_variables.scss";

#contenedor{

    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 15% 35% 35% 15%;

    header{

        display: grid;
        background-color: rgb(219, 138, 17);
        
        
        
    }

    main{

        background-color: rgb(255, 50, 50);

    }

    aside{

        background-color: rgb(21, 137, 141);

    }

    footer{

        background-color: rgb(4, 28, 187);

    }

}