@import "_mixins.scss";
@import "_variables.scss";

*{

    margin: 0;
    padding: 0;
    border: 0;

}

#contenedor{

    display: grid;
    margin: 0 auto;

    grid-template-columns: repeat(4,1fr);

    grid-template-areas: "header header header header"
    "main main main main"
    "aside aside aside aside"
    "footer footer footer footer";

    @include desktop{
        grid-template-areas: "header header header header"
        "main main main aside"
        "main main main aside"
        "footer footer footer footer";
    }

    gap: 10px;
    
    max-width: 1200px;
    height: 100vh;

    header{

        background-color: $colorHeader;

        grid-area: header;

    }

    main{

        display: grid;
        grid-area: main;
        background-color: $colorMain;
        align-items: start;
        grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
        gap: 15px;

        article{

            background-color: $colorArticle;
            img{
                max-width: 100%;
            }

        }

    }   

    aside{

        background-color: $colorAside;

        grid-area: aside;

    }

    footer{

        background-color: $colorFooter;

        grid-area: footer;

    }

}