*{

    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif ;

}

body{

    background: #88ADE8 url("../images/bg-body.jpg") repeat-x;

}

#Cuerpo{

    position: relative;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    min-width: 600px;
    max-width: 762px;

}

ul{
    list-style: none;
}

header{
    
    position: relative;
    width: 100%;
    float: left;
    background-color: transparent;
    color: white;

}

h1{

    position: relative;
    width: 45%;
    margin: 0 20px;

}

header > small{

    position: relative;
    margin: 0 30px;
    
}

header > p{
    
    position: absolute;
    z-index: 1;
    right: 180px;
    top: 40px;

}

#casilla{

    position: absolute;
    right: 50px;
    z-index: 0;

}

#imgBuscar{

    position: relative;
    margin-right: 15px;
    margin-bottom: 20px ;
    float: right;
    
}

nav{

    position: relative;
    width: 100%;
    float: left;
    background-color: #0f2132;
    color: white;
    font-size: small;
    font-weight: bold;

}

nav > ul{

    position: relative;
    overflow: hidden;

}

nav > ul > li{
    
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 17px 20px;
    width: 10%;

}

nav > ul > li:hover{

    background-color: #0a1520;

}

nav > ul > li > a{

    position: relative;

}

#aulaVirtual{

    position: relative;
    float: right;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 17px 25px;
    width: 10%;

}

#aulaVirtual:hover {

    background-color: #0a1520;

}

#BGPortada{

    position: relative;

}

#TituloPortada{

    position: absolute;
    top: 120px;
    left: 40px;
    z-index: 0;
    color: #102131;
    font-weight: 400;

}

#Contenido{

    position: relative;
    top: -4px;
    float: left;
    background-color: white;

}

#Articulos{

    position: relative;
    float: left;
    width: 70%;

}

#Articulos p{

    font-size:small ;
    width: 100%;
    padding: 10px;

}

a {

    color: #62954b;
    font-size: smaller;

}

h2{

    color: #3b5b93 ;
    font-weight: 500;
    
}

time{

    color: #116cb4 ;
    font-size: smaller;
    font-weight: 800;

}

#Arriba{

    position: relative;
    width: 100%;
    padding: 10px;

}

#Arriba p{

    width: 90% ;

}

#ArticuloIzq{

    position: relative;
    padding: 5px;
    float: left;
    width: 45%;

}

#ArticuloDcha{

    position: relative;
    float: right;
    padding: 5px;
    left: -25px;
    width: 45%;
}

#Fotos{

    position: relative;
    display: inline;
    width: 50%;

}

#Fotos > img {

    position: relative;
    padding: 5px;

}

aside{

    position: relative;
    float: right;
    width: 30%;

}



h3{

    position: relative;
    color: #62954b;
    padding: 10px;
    font-weight: 500;

}

#info{

    position: relative;
    float: left;
    padding: 5px;

}

#info img {

    position: relative;
    float: left;
    width: 50px;

}

#info p{

    position: relative;
    padding: 2px;
    width: 75%;
    float: right;
    font-size: small;

}

#Categorias{

    position: relative;
    padding: 5px;

}

#Categorias img{

    position: relative;
    margin: 0 10px;
    float: left;

}

#Categorias li{

    position: relative;
    color:#073a64;
    text-decoration: underline;

}

#Archivo{

    position: relative;
    padding: 5px;

}

#Archivo img{

    position: relative;
    margin: 0 10px;
    float: left;

}

#Archivo li{

    position: relative;
    color:#073a64;
    text-decoration: underline;

}

footer{

    position: relative;
    top: -4px;
    width: 100%;
    float: left;
    background-color: #0f2132;

}

footer > small{

    color: #35728a;

}

footer > small > a {

    color: #35728a;

}

#izq{

    position: relative;
    float: left;
    padding: 17.5px;

}

#dcha{

    position: relative;
    float: right;
    padding: 17.5px;

}