@charset "UTF-8";
:root {
  --primario:#7abe47;
  --secundario:#ffc845;
  --negro:#000000;
  --claro:#ffffff;
  --gris:#eeeeee;
  --oscuro:#57a42b;
  --padding:1rem;
  --paddingt:2rem;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

body {
  background-color: var(--gris);
}

.contenedor {
  max-width: 1100px;
  margin: 0 auto;
}

header {
  background-color: var(--primario);
  padding: var(--padding);
}
header div img {
  grid-column-start: 1;
  grid-column-end: 3;
}
header div nav {
  display: grid;
  grid-column-start: 3;
}
header div nav ul {
  display: grid;
}
header div nav ul li {
  text-align: center;
}
header div a {
  color: var(--claro);
}
@media (min-width: 700px) {
  header div {
    display: grid;
    grid-template-columns: 30% auto 30%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header div nav ul {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}

#SobreNosotros {
  display: grid;
  padding: var(--padding);
  gap: var(--padding);
}
#SobreNosotros img {
  width: 100%;
}
#SobreNosotros h1 {
  text-align: center;
}
@media (min-width: 700px) {
  #SobreNosotros {
    grid-template-columns: calc(50% - var(--padding) / 2) calc(50% - var(--padding) / 2);
  }
  #SobreNosotros div h1 {
    text-align: start;
    padding-top: var(--paddingt);
    padding-bottom: var(--paddingt);
  }
  #SobreNosotros div p {
    line-height: 20px;
  }
}

main h2 {
  padding: var(--padding);
}
main #Articulos {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: var(--padding);
}
main #Articulos #destacado {
  grid-column: 1/3;
}
@media (min-width: 480px) {
  main #Articulos #destacado {
    display: grid;
    grid-template-columns: calc(50% - var(--padding) / 2) calc(50% - var(--padding) / 2);
  }
  main #Articulos #destacado img {
    grid-column: 1/2;
  }
}
main #Articulos article {
  background-color: var(--claro);
  border: 1px solid var(--negro);
  margin: auto;
}
main #Articulos article div {
  display: grid;
  padding: var(--padding);
  gap: var(--padding);
  margin: auto;
}
main #Articulos article div a {
  text-align: center;
  color: var(--claro);
  background-color: var(--primario);
  padding: 10px 25px;
}
main #Articulos article div a:hover {
  background-color: var(--claro);
  color: var(--primario);
}
main #Articulos article div span {
  color: var(--primario);
}
@media (min-width: 700px) {
  main #Articulos {
    grid-template-columns: 33% 33% 33%;
  }
}

footer {
  background-color: var(--primario);
  color: var(--claro);
  margin-top: var(--padding);
}
footer #seciones {
  display: grid;
}
footer #seciones h2 {
  padding-top: var(--padding);
}
footer #seciones #Navegación ul li a {
  color: var(--claro);
}
footer #seciones #Casas article {
  display: grid;
  grid-template-columns: 50% 50%;
}
footer #seciones #Casas article div {
  padding: var(--padding);
}
@media (min-width: 700px) {
  footer #seciones {
    grid-template-columns: 30% 20% 2fr;
  }
  footer #seciones #Casas div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
footer #copyright {
  line-height: 50px;
  background-color: var(--oscuro);
  text-align: center;
  margin-top: var(--padding);
}/*# sourceMappingURL=style.css.map */