@import '_mixins.scss';
:root {
    --primario:#7abe47;
    --secundario:#ffc845;
    --negro:#000000;
    --claro:#ffffff;
    --gris:#eeeeee;
    --oscuro:#57a42b;
    --padding:1rem;
    --paddingt:2rem;
}

*{
    margin: 0;
    padding: 0;
    border: 0;

    list-style: none;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
}

img{
    max-width: 100%;
}

body{
    background-color: var(--gris);
}

.contenedor{
    @include contenedor
}

header{

    background-color: var(--primario);
    padding: var(--padding);
    

    div{

        img{

            grid-column-start: 1;
            grid-column-end: 3;

        }

        nav{

            display: grid;
            grid-column-start: 3;

            ul{
    
                display: grid;
    
                li{
                    text-align: center;
                }
            }
        }
    
        a{
            color: var(--claro);
        }
    }

    @include desktop{


        div{

            display: grid;
            grid-template-columns: 30% auto 30%;
            align-items: center;

            nav{
                ul{
                    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
                }
            }
        }
    }
}


#SobreNosotros{

    display: grid;
    padding: var(--padding);
    gap: var(--padding);

    img{
        width: 100%;
    }

    h1{
        text-align: center;
    }

    @include desktop{

        grid-template-columns: calc(50% - var(--padding)/2) calc(50% - var(--padding)/2);

        div{

            h1{
                text-align: start;
                padding-top:  var(--paddingt);
                padding-bottom:  var(--paddingt);
            }

            p{
                line-height: 20px;
            }
        }
    }
}

main{

    h2{
        padding:var(--padding);
    }

    #Articulos{

        display: grid;
        grid-template-columns: 50% 50%;
        gap: var(--padding);

        #destacado{

            grid-column: 1/3;

            @include tablet{

                display: grid;
                grid-template-columns: calc(50% - var(--padding)/2) calc(50% - var(--padding)/2);

                img{
                    grid-column: 1/2;
                }
            }
        }

        article{

            background-color: var(--claro);
            border: 1px solid var(--negro);
            margin: auto;

            div{

                display: grid;
                padding: var(--padding);
                gap: var(--padding);
                margin: auto;
                

                a{
                    text-align: center;
                    color: var(--claro);
                    background-color: var(--primario);
                    padding: 10px 25px;
                }
                
                a:hover{
                    background-color: var(--claro);
                    color: var(--primario);
                }

                span{
                    color: var(--primario);
                }
            }
        }

        @include desktop{
            grid-template-columns: 33% 33% 33%;
        }
    }
}

footer{

    background-color: var(--primario);
    color: var(--claro);
    margin-top: var(--padding);

    #seciones{

        display: grid;

        h2{
            padding-top: var(--padding);
        }

        section{

        }

        #nosotros{

        }

        #Navegación{
            ul{
                li{
                    a{
                        color: var(--claro);
                    }
                }
            }
        }

        #Casas{
            article{
                display: grid;
                grid-template-columns: 50% 50%;
                div{
                    padding: var(--padding);
                }
            }
        }

        @include desktop{

            grid-template-columns: 30% 20% 2fr;

            #Casas{
                div{
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                }
            }
        }
    }

    #copyright{
        line-height: 50px;
        background-color: var(--oscuro);
        text-align: center;
        margin-top: var(--padding);
    }
}