*{

    margin: 0;
    padding: 0;
    border: 0;

}

body{

    background: #88ADE8 url("../images/bg-body.jpg") repeat-x;;

}

#Cuerpo{

    position: relative;
    background-color: white;
    margin: 0 auto;
    min-width: 600px;
    max-width: 1000px;

}

header{
    
    position: relative;
    width: 100%;
    float: left;

}

h1{

    position: relative;

}

nav{

    position: relative;
    float: left;

}

nav > ul{
    
    position: relative;

}

nav > li{
    
    list-style: none;
    display: inline-block;

}

#Cabezera{

    position: relative;

}

#Cabecera > h2{

    position: relative;

}

main{

    position: relative;

}

#Primario{

    position: relative;

}

#Primario > article{

    position: relative;

}

#Secundario{

    position: relative;
}

#Secundario > article{

    position: relative;

}



