/*--------- General ---------*/

*{

    margin: 0;
    padding: 0;
    border: 0;
    
    color: white;
    text-transform: capitalize;
    
}

h1{

    color: black;

}

body{

    background: linear-gradient(to right, #ff5e62, #ff9966);
    background-color: #ff5e62; /* Para navegadores antiguos */

}

main{

    margin: 0 auto;
    padding: 15px;
    max-width: 1000px;
    background-color: white;

}

nav{

    background-color: #4645b2;

}

ul{

    background-color: #4645b2;
    text-align: center;

}

li{

    list-style: none;

}

li:hover{

    background-color: #1a2770;

}

#nosotros:hover #nosotrosUL{

    background-color: #1a2770;

}

#nosotrosUL{

    background-color: #4645b2;

}

#nosotrosUL > li:hover{

    background-color: #ff5e62;

}

#tienda:hover #tiendaUL{

    background-color: #1a2770;

}

#tiendaUL{

    background-color: #4645b2;

}

#tiendaUL > li:hover{

    background-color: #ff5e62;

}

/*----------------- MENU SENCILLO -----------------*/

#menuSencillo > li{

    padding: 10px 20px;

}

/*----------------- CON ICONOS -----------------*/

#conIconos{

    display: flex;
    flex-direction: column;

}

#conIconos #texto{

    display: none;

}

#conIconos li{

    padding: 10px 20px;

}

/*----------------- REDES SOCIALES -----------------*/

#redesSociales{

    display: flex;
    justify-content: flex-end;

}

#redesSociales li{

    padding: 10px;

}

/*----------------- DropdownMenu -----------------*/

#dropdownMenu li{
    
    text-align: start;
    padding: 10px 20px;

}

/*----------------- Con Redes Sociales -----------------*/

#dropdownMenuConRedes{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

#dropdownmenu2 li{

    padding: 10px 20px;
    
}

#iconos{

    display: flex;
    align-items: flex-start;

}

#iconos li{

    padding: 10px;

}

/*----- TABLET -----*/

@media (min-width: 480px) {

    /*----------------- CON ICONOS -----------------*/

    #conIconos{

        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    #conIconos li{

        display: flex;
        flex: 1 0 50%;


    }

    #conIconos #texto{
        
        display:flex;
        flex-direction: column;
        align-items: flex-start;
    
    }
    
}

/*----- PC -----*/

@media (min-width: 768px) {

    /*----------------- MENU SENCILLO -----------------*/

    #menuSencillo{

        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }

    #menuSencillo li{
    
        padding: 20px 35px;

    }


    /*----------------- CON ICONOS -----------------*/

    #conIconos{

        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }

    #conIconos li{
    
        display: flex;
        flex-direction: row;
        padding: 20px 35px;

    }

    #conIconos p{
    
        text-align: start;

    }

    /*----------------- DROPDOWN MENU -----------------*/

    #dropdownMenu{

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

    }

    #dropdownMenu > li{

        position: relative;
        padding: 10px 20px;
        flex-grow: 1;

    }

    #dropdownMenu li{

        position: relative;
        padding: 10px 20px;

    }

    #dropdownMenu > li:hover #nosotrosUL{

        display: inline-block;
        top: 100%;
        left: 0;
        width: 100%;

    }

    #dropdownMenu > li:hover #tiendaUL{

        display: inline-block;
        top: 100%;
        left: 0;
        width: 100%;

    }

    #nosotrosUL{

        position: absolute;
        display: none;
        background-color: #ff5e62;

    }

    #tiendaUL{

        position: absolute;
        display: none;
        background-color: #ff5e62;

    }

    /*----------------- DROPDOWN MENU CON REDES-----------------*/

    #dropdownmenu2{

        display: flex;
        flex-direction: column;

    }

}