@import "_mixins";
@import "variables";

//////////////////
/// Generales ///
////////////////
*{

    margin: 0;
    padding: 0;
    border: 0;

}

///////////
// BODY //
/////////
body{

    font-family: $fuente;
    
}

/////////////
// Header //
///////////
header {

    display: flex;
    color: $color_header;

    //FONDO
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    min-height: 24rem;
    background-size: cover;
    background-position: center center;


    .contenido{

        @include contenedor;

        display: flex;
        justify-content: center;
        flex-direction:column ;
        margin: 0 auto;
        flex-grow: 1;
        
        .titulo{
            margin: 20px 0;
        }

        @include mobile{
            align-items: center;
        }

        @include tablet{

            align-items: flex-start;

            .titulo{
                font-size: $tamano_h1;
            }

            .subtitulo{
                font-size: $tamano_p;
            }
            
        }

        @include escritorio{
            align-items: flex-end;
        }

    }

}


//////////
// nav //
////////
nav{

    display: flex;
    justify-content: center;
    background-color: black;

    .menu{

        @include contenedor;

        display: flex;
        flex-grow: 1;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        list-style: none;

        .menu > li{
            
            display: flex;
            justify-content: center;

        }

        a{
            display: flex;
            justify-content: center;
            color: $color_header;
            text-decoration: none;
        }

        .fas{
            font-size: $tamano_i;
        }

        @include tablet {

            position: relative;
            flex-direction: row;
            justify-content: space-between;



            ul{
                display: none;
            }

            .fa-user:hover ul{

                position: absolute;
                background-color: black;
                color: $color_header;
                top: 100%;
                right: 100%;

            }

        }

    }


}

/////////////////////
// Zona principal //
///////////////////
.principal{

    @include contenedor;
    display: flex;
    flex-direction: column;

    .titulo{

        display: flex;
        font-size:$tamano_h1 ;
        flex-grow: 1;
        
    }

    .mainYaside{

        display: flex;
        flex-direction: column-reverse;

        main{

            display: flex;
            flex-direction: column;

            article{

                display: flex;
                flex-direction: column;
                background-color: $bg_article_aside;

                img{
                    display: flex;
                    width: 100%;
                }
                
            }


        }

        aside{

            display: flex;
            flex-direction: column;
            background-color: $bg_article_aside;

            h2{
                font-size: $tamano_h2;
            }

            a{
                text-decoration: none;
                color: black;
            }


        }

        @include tablet{

            flex-direction: row;

            main{
                flex-direction: row;
                flex-wrap: wrap;

                article{

                    flex-basis: calc(100%/2);

                }

            }

        }

        @include escritorio{

            main{

                article{

                    flex-basis: calc(100%/3);
    
                }
            }

        }
    }

    h2{

    }

    p{

    }

}

/////////////
// Footer //
///////////
footer{

    display: flex;
    justify-content: center;
    color: $color_footer;

    //FONDO
    background-image: url("../img/contacto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 3rem;
    padding: 2rem 0;
    min-height: 20rem;

    .contenedor{

        display: flex;
        flex-direction: column;

        @include contenedor;

        .widget{

            display: flex;
            flex-direction: column;
            
            h3{
                font-size: $tamano_h3;
                margin: 5px 0;
            }

            p{
                font-size: $tamano_p;
                margin: 5px 0;
            }

        }

        @include tablet{

            flex-direction: row;
            justify-content: space-around;

            .widget{
                flex-basis: calc(100%/4);
            }

        }

        @include escritorio{

            justify-content: flex-start;

        }

    }

}