*{

    margin: 0;
    padding: 0;
    border: 0;

    text-transform: uppercase;

}

body{

    background-color: #f2f2f2;

}

#contenedor{

    display: flex;
    max-width: 1100px;
    flex-direction: column;
    margin: 0px auto;

}

header{
    
    display: flex;
    justify-content: center;
    margin: 20px;
}

main{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;

}

article{

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 8px 0;

}

article p {

    text-align: center;
    padding: 5px;

}

.Boton{

    padding: 10px 35px;
    margin: 10px;
    background-color: #0d89ce;
    color: white;

}

img{

    max-width: 100%;

}

@media (min-width: 468px) {

    main{

        flex-direction: row;
        align-items: flex-start;

    }

    article{

        flex-basis: calc(50% - 1rem/2);

    }

}

@media (min-width: 768px) {
    
    article{

        flex-basis: calc(33% - 1rem/2);

    }
    

}