@import "_mixins.scss";
@import "_variables.scss";

*{
    margin: 0;
    padding: 0;
    border: 0;

}

body{

}

.contenedor{
    @include contenedor;
}

header{


    nav{

        background-color: $colorNegro;
        color: $colorBlanco;
        margin-top: 25px;
        margin-bottom: 35px;

        ul{

            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;

            li{
                padding: 10px 30px;
                list-style: none;
                text-align: center;
            }

            li:hover{
                background-color: $colorVerde;
                color: $colorNegro;
            }
            
        }

    }

    #imagenPrincipal{
        max-width: 100%;
    }

}

main{
    
    display: grid;
    grid-template-columns: 1fr auto 1fr;

    @include desktop{
     
        grid-template-columns:minmax(10px, max-content) auto minmax(100px, max-content);
        grid-template-rows: repeat(4, auto);
        
    }


}

footer{

    background-color: $colorVerde;    

    #menuFooter{

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;


        section{

            margin: 15px;
            text-align: center;
            
            p{
                color: $colorTextoGrisFooter;
            }

        }

    }

    #copy{

        background-color: $colorFooter;
        text-align: center;
        color: $colorBlanco;
        padding: 15px;

    }


}