* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

@media (min-width: 768px) {
  .container {
    max-width: 1200px;
    margin: auto;
  }
}

header {
  position: relative;
  display: flex;
  width: 100%;
}
header #ContenidoHeader {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding: 16px;
}
header #MenuCarrito {
  display: none;
  width: 30%;
}
header #Carrito:hover > #MenuCarrito {
  display: block;
  position: absolute;
  top: 100%;
  right: 16px;
  padding: 0 16px 16px;
  background-color: white;
}
header #Carrito:hover > #MenuCarrito #ContenidoCarrito {
  display: flex;
}
header #Carrito:hover > #MenuCarrito #ContenidoCarrito div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header #Carrito:hover > #MenuCarrito #ContenidoCarrito div img {
  width: 100%;
  margin-bottom: 2px;
}
header #Carrito:hover > #MenuCarrito #ContenidoCarrito div p {
  margin: auto;
}
header #Carrito:hover > #MenuCarrito a {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding: 8px 16px;
  text-decoration: none;
  background-color: #0056b3;
  color: white;
}

#Banner {
  display: flex;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
  color: white;
}
#Banner #Buscador {
  display: flex;
  flex-direction: row;
  background-color: white;
}
#Banner .container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 16px;
}
#Banner #Buscador {
  display: flex;
  align-items: center;
  width: 100%;
}
#Banner #Buscador input {
  display: flex;
  flex-grow: 1;
  padding: 8px;
}
#Banner #Buscador #IconoBuscar {
  margin-left: -32px;
  height: 70%;
}
@media (min-width: 480px) {
  #Banner #Buscador {
    width: 400px;
  }
}
#Banner h1, #Banner small {
  margin: 16px 0;
}

#Info {
  display: flex;
  background: linear-gradient(to right, #741d51, #e34d52);
}
#Info .container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
#Info .container .iconoInfo {
  margin: 16px;
  height: 45px;
}
#Info .container .texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 16px;
  flex-grow: 1;
}
@media (min-width: 768px) {
  #Info .container {
    flex-direction: row;
    justify-content: space-between;
  }
}

main {
  display: flex;
  flex-direction: column;
  padding: 16px;
}
main h2 {
  display: flex;
  align-self: center;
}
main #Cursos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
main #Cursos .Curso {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
  border: solid lightgrey 1px;
  flex: 1 0 calc(100% - 16px);
}
@media (max-width: 280px) {
  main #Cursos .Curso {
    flex: 1 0 calc(50% - 16px);
  }
}
@media (min-width: 480px) {
  main #Cursos .Curso {
    flex: 0 0 calc(33.3333333333% - 16px);
  }
}
@media (min-width: 768px) {
  main #Cursos .Curso {
    flex: 0 0 calc(25% - 16px);
  }
}
main #Cursos .Curso .Boton {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding: 8px 16px;
  text-decoration: none;
  background-color: #007bff;
  color: white;
}
main #Cursos .Curso img {
  width: 100%;
}
main #Cursos .Curso #Estrellas {
  display: flex;
  align-self: flex-start;
}
main #Cursos .Curso h3, main #Cursos .Curso p, main #Cursos .Curso img, main #Cursos .Curso div {
  margin-bottom: 16px;
}
main #Cursos .Curso .Precio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main #Cursos .Curso .Precio small {
  text-decoration: line-through;
}

footer {
  display: flex;
  background-color: black;
}
footer .container {
  display: flex;
  flex-grow: 1;
}
footer .container div {
  display: flex;
  flex-direction: column;
  padding: 16px;
}
footer .container div a {
  text-decoration: none;
  color: white;
}
@media (min-width: 768px) {
  footer .container div {
    flex: 0 0 calc(25% - 16px);
  }
}/*# sourceMappingURL=styles.css.map */