//////////////
// Imports //
////////////
@import "_mixins.scss";
@import "_variables.scss";

//////////////
// General //
////////////
*{

    margin: 0;
    padding: 0;
    border: 0;

}

///////////
// Body //
/////////
body{

    display: flex;
    flex-direction: column;
    font-family: sans-serif;

}

//////////////////////
// CLASS Container //
////////////////////
.container{

    @include desktop{
        max-width: 1200px;
        margin: auto;
    }

}

/////////////
// Header //
///////////
header{

    position: relative;
    display: flex;
    width: 100%;

    /////////////
    // Iconos //
    ///////////
    #ContenidoHeader{

        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        padding: $margen;

    }

    //////////////////////
    // Menu Despegable //
    ////////////////////
    #MenuCarrito {
        display: none;
        width: 30%;
    }

    #Carrito:hover > #MenuCarrito{

        display: block;
        position: absolute;
        top: 100%;
        right: $margen;
        padding: 0 $margen $margen;
        background-color: $color-blanco;

        #ContenidoCarrito{

            display: flex;

            div{
            
                display: flex;
                flex-direction: column;
                align-items: center;

                img{
                    width: 100%;
                    margin-bottom: 2px;
                }

                p{
                    margin: auto;
                }
            }
        }

        a{
            @include Boton($color-enlace-hover,$color-blanco);
        }
    }

}

/////////////
// Banner //
///////////
#Banner{

    display: flex;
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    color: $color-blanco;

    #Buscador{

        display: flex;
        flex-direction: row;
        background-color: $color-blanco;

    }

    .container{

        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: $margen;

    }

    #Buscador{

        display: flex;
        align-items: center;
        width: 100%;

        input{

            display: flex;
            flex-grow: 1;
            padding: calc($margen/2);
        }

        #IconoBuscar{

            margin-left: calc($margen*-2);
            height: 70%;
        
        }
    
        @include tablet{
            width: 400px;
        }
    }

    h1, small{
        margin: $margen 0;
    }

}

///////////
// Info //
/////////
#Info{

    display: flex;
    background: linear-gradient(to right, #741d51, #e34d52);

    .container{
    
        display: flex;
        flex-direction: row;
        flex-grow: 1;

        .iconoInfo{

            margin: $margen;
            height: 45px;

        }

        .texto{

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: $margen;
            flex-grow: 1;

        }

    }

    @include desktop{
        .container{
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

///////////
// Main //
/////////
main{

    // VALORES DEL MAIN

    display: flex;
    flex-direction: column;
    padding: $margen;

    // TITULO APARTADO
    h2{
        display: flex;
        align-self: center;
    }

    // APARTADO DE CURSOS
    #Cursos{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
 

        // VALORES DE CADA CURSO INDIVIDUAL
        .Curso{

            display: flex;
            flex-direction: column;
            margin: $margen 0;
            border: solid lightgrey 1px;

            // 1 SOLO ARTICULO PARA DEBAJO DE LAS RESOLUCIONES DE MOVIL
            flex: 1 0 calc(100% - $margen);

            // 2 PARA MOVIL
            @include mobile { 
                flex: 1 0 calc(50% - $margen);
            }
            
            // 3 PARA TABLET
            @include tablet { 
                flex: 0 0 calc(100%/3 - $margen);
            }

            // 4 PARA ESCRITORIO
            @include desktop { 
                flex: 0 0 calc(100%/4 - $margen);
            }

            .Boton{
                @include Boton($color-enlace, $color-blanco);
            }

            img{ // Para que se adapte al ancho de la caja padre
                width: 100%;
            }

            #Estrellas{

                display: flex;
                align-self: flex-start

            }

            h3, p, img, div{
                margin-bottom: $margen;
            }

            .Precio{

                display: flex;
                flex-direction: row;
                justify-content: space-between;

                small{ 
                    text-decoration:line-through;
                }
            }

        }
    }
}

// Footer

footer{

    display: flex;
    background-color: $color-negro;

    .container{
        display: flex;
        flex-grow: 1;

        div{

            display: flex;
            flex-direction: column;
            padding: $margen;

            a{

                text-decoration: none;
                color: $color-blanco;

            }

            @include desktop{

                flex: 0 0 calc(100%/4 - $margen);

            }

        }
    }
}