<form class="row g-3 needs-validation" novalidate>
    <div class="col-md-2">
        <label for="validationCustom01" class="form-label">Id representante</label>
        <input type="text" class="form-control" id="validationCustom01">
        <div class="valid-feedback">
          Correcto
        </div>
    </div>
    <div class="col-md-5">
    <label for="validationCustom02" class="form-label">Nombre de representante</label>
    <input type="text" class="form-control" id="validationCustom02" value="">
    <div class="valid-feedback">
      Correcto
    </div>
  </div>
  <div class="col-md-5">
    <label for="validationCustom03" class="form-label">Partido</label>
    <select class="form-select" id="validationCustom03" required>
      <option selected disabled value="">Seleccionar partido...</option>
      <option>...</option>
    </select>
    <div class="invalid-feedback">
      Seleccione un partido
    </div>
  </div>
  <div class="col-3">
    <button class="btn btn-primary" type="submit">Enviar datos</button>
  </div>
  <div class="col-3">
    <button class="btn btn-warning">Cancelar</button>
  </div>
</form>
