<h1>Listas electorales</h1>
<div class="bg-danger">
    <h1>ERROR EN LA BASE DE DATOS</h1>
</div>
<div class="container !direction !spacing">
    <div class="row justify-content-end">
        <div class="col-3">
            <button class="btn btn-primary">
                Nuevo Representante
            </button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col container">
            <div class="row">
                <div class="col d-flex-column">
                    <h2>NOMBRE PARTIDO 1</h2>
                    <div>
                        Persona 1
                        <i class="fa fa-edit text-primary mx-4" 
                            role="button"
                            aria-hidden="true"></i>
                        <i class="fa fa-remove text-danger"
                            role="button" 
                            aria-hidden="true"></i></div>
                </div>
                <div class="col d-flex-column">
                    <h2>NOMBRE PARTIDO 2</h2>
                    <div>
                        Persona 2
                        <i class="fa fa-edit text-primary mx-4" 
                            role="button"
                            aria-hidden="true"></i>
                        <i class="fa fa-remove text-danger"
                            role="button" 
                            aria-hidden="true"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>
